{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="pull-right nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#"> <i class="fa fa-plus"></i> Agregar</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock content %}

