{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <strong class="card-name align-middle">Haz tu pedido!</strong> 
                </div>
                <div class="col">
                    <ul class="nav nav-pills card-header-pills float-sm-right">
                        <li class="nav-item">
                            <a class="nav-link active bg-success" href="#"> <i class="fa fa-plus"></i> Agregar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

