.container{
    margin-top:2%;
}
.img-pastel{
	width: 80%; height: auto; 
}
.inter-space{
	    margin-top: 20%;
}

.bg-title{
    background-color:#006cdf;
}
.bg-footer{
    background-color:#1b7feb;
}
body{
    background-color:rgb(226, 226, 226);
}
.footer-a{
    color:#95c8ff;
}


@media only screen and (max-width:300px){
    .footer{
        font-size:12px;
        color:white;
    }
}

@media only screen and (min-width:301px){
    .footer{
        font-size:13px;
        color:white;
    }
}