{% extends "base.html" %}
{% block content %}
<div class="container" >
	<div class="row">
		<div class="col-12">
			<div class="card text-center">
				<div class="card-header bg-title">
				  <strong class="card-name">Haz tu pedido!</strong> 
				</div>
				<div class="card-body">
				  <h5 class="card-title">Personaliza tu pastel</h5>
				  <p class="card-text">O tambien puedes elegir entre todas nuestras variedades!</p>
				  <a href="#" class="btn btn-primary">Realizar Pedido</a>
				</div>
				<div class="card-footer bg-footer text-muted">
				  <p class="footer">
					  Tambien puedes <a class="footer-a" href="#">registrarte</a> para agilizar tus próximas compras... 
				  </p> 
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

