{% extends "base.html" %} {% load bootstrap4 %} {% load static %} 
{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock css%}

{% block content %}
<div class = "container">
	<div class="row">
		<div class="col-lg-12 col-offset-4">
			<div class="card">
				<h5 class="card-header">{{tabla}}</h5>
				<div class="card-body">
					<div class="row">
						<div class="col">
					<h5 class="card-title">Stock de Materiales en sistema.</h5>
						</div>
						<div class="col">
					<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#ModalStock">Ingresar Stock</button>
						</div>
			  			<div class="col">
			  			<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#AgregarMaterial">Agregar Material</button>
			  			</div>
					</div>
					<!-- Button trigger modal -->
					<p class="card-text"></p>
					<table class="table table-bordered" id="tabla1">
					    <thead>
					        <tr>
					            <th scope="col">Nombre</th>
					            <th scope="col">Codigo</th>
					            <th scope="col">Tipo</th>
					            <th scope="col">Stock</th>
					        </tr>
					    </thead>
					    <tbody id="tbody">
					        {% for material in materiales %}
					        <tr>
					            <td>{{ material.nombre }}</td>
					            <td>{{ material.pk }}</td>
					            <td>{{ material.tipo }}</td>
					            <td id="cant_{{material.pk}}">{{ material.total }}</td>
					        </tr>
					        {% endfor %}
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<!-- Modal -->
			<div class="modal fade" id="ModalStock" tabindex="-1" role="dialog" aria-labelledby="ModalStockLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="ModalStockLabel">{{titulo}}</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
						<div class="form-group row">
						<label class="col-md-3 col-form-label" for="id_material">Material</label>
						<div class="col-md-9">
							<select name="material" class="form-control" id="id_material" title="" required="">
							{% for material in materiales %}
							<option value="{{material.pk}}">{{material.nombre}} ({{material.total}})</option>
							{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="id_cantidad">Cantidad:</label>
						<div class="col-md-9">
	  						<input type="number" class="form-control" name="cantidad" id="id_cantidad" required="">
	  					</div>
					</div>
					</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<a type="submit" value="Enviar" id="enviar" class="btn btn-primary text-white"  data-dismiss="modal">Enviar</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col">
			

			<!-- Modal -->
			<div class="modal fade" id="AgregarMaterial" tabindex="-1" role="dialog" aria-labelledby="AgregarMaterialLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="AgregarMaterialLabel">Agregar Material</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
						<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
							<div class="form-group row">
								<label class="col-md-3 col-form-label" for="id_nombre">Nombre:</label>
								<div class="col-md-9">
			  						<input type="text" class="form-control" name="nombre" id="id_nombre" required="">
			  					</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label" for="id_tipo">Tipo:</label>
								<div class="col-md-9">
									<select name="material" class="form-control" id="id_tipo" title="" required="">
									<option value="MP">Materia Prima</option>
									<option value="IT">Ingredientes de Torta</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label" for="id_medida">Medida:</label>
								<div class="col-md-9">
									<select name="material" class="form-control" id="id_medida" title="" required="">
									<option value="GR">Gramos</option>
									<option value="CC">Centimetros Cubicos</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label" for="id_cantidad">Cantidad:</label>
								<div class="col-md-9">
			  						<input type="int" class="form-control" name="codigo" id="id_cantidad" required="">
			  					</div>
			  				</div>
						</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<a type="submit" value="Enviar" id="enviar2" class="btn btn-primary text-white"  data-dismiss="modal">Enviar</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
	$(document).ready(function () {
		$(".select2").select2();
		$("#tc_list").addClass("active");
		
		$('.datepicker').datepicker({ format: 'dd/mm/yyyy' });
		
	});
</script>
<script>
	  $(document).ready(function(){
        $("#enviar").click(function(){
            var material = $('#id_material').val();
            var cantidad = $('#id_cantidad').val();
            var data = {
                csrfmiddlewaretoken: "{{csrf_token}}",
                material: material,
                cantidad: cantidad,
            }

            $.ajax({
                type: "POST",
                url: "{% url 'add_stock' %}",
                data: data,
                success: function(response){
                    swal("Exito!","Todo bien por aca.","success");
                    $("#enviar").html(response.mensaje);
                    $(response.select).html(response.cant);
                },
                error: function(){
                    swal("Error!","Salio todo mal.","warning");
                },

            });
        });
     	$("#enviar2").click(function(){
            var nombre = $('#id_nombre').val();
            var tipo = $('#id_tipo').val();
            var medida = $('#id_medida').val();
            var cantidad = $('#id_cantidad').val();
            var data = {
                csrfmiddlewaretoken: "{{csrf_token}}",
                nombre: nombre,
                tipo: tipo,
                medida: medida,
                codigo: cantidad,
            }

            $.ajax({
                type: "POST",
                url: "{% url 'add_material' %}",
                data: data,
                success: function(response){
                    swal("Exito!","Todo bien por aca.","success");
                    $("#tbody").append(response.html);
                },
                error: function(){
                    swal("Error!","Salio todo mal.","warning");
                },
            });
                console.log(data)

        });
    });
</script>
{% endblock javascript %}