{% extends "base.html" %} {% block content %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center"> dinos que quieres </h1>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="col-12 mt-6">
			<div class="row">
				<div style=" " class="col-6 text-center">
					<a href=" " style=" " class="btn btn-primary btn-lg align-middle"> Predeterminada </a>
				</div>
				<div class="col-6 text-center">
					<a href=" " class="btn btn-success btn-lg align-middle"> Personalizada </a>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
		<div class="col-12">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="..." alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="..." alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
