{% extends "base.html" %} {% block content %} {% load static %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
			  <div class="card-body">
				<h2 class="card-title text-center"> Dinos que quieres </h1>
			 	<hr>
				<!-- Cards Inicio-->
				<div class="row">
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body">
				        <h5 class="card-title">Tortas Seleccionadas</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#prefab" class="btn btn-primary">Seleccionadas</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body">
				        <h5 class="card-title">Tortas Personalizadas</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#create" class="btn btn-primary">Personalizadas</a>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- Cards Fin-->			    
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div id="prefab" class="col-12 ">
			<div class="card">
			  <div class="card-body">
			  	<div class="card-header">
					<h2 class="text-center">Nuestra seleccion para ti </h2>
			  	</div>
				
					<div  class="row text-center">
					{% for x in objet_list %}
						<div class="col-3 pt-4 pr-4 pl-4 mr-5 mt-5 text-center">
							<div class="card" style="width: 18rem;">
								<img class="card-img-top" src="{{x.image.url}}" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">{{x.nombre}}</h5>
									<p class="card-text">{{x.get_capas|safe}}</p>
									<a href="#" class="btn btn-primary">quiero este pastelito</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div id="create" class="col-12">
			<div class="card">
			  	<div class="card-body">
			
				</div>
			</div> 
		</div> 
	</div>
</div>

	{% endblock content %} {% block javascript %}
	<script>
		$(document).on('click', ".boton_p", function() {
			if ($(this).hasClass("20")) {
				$("#bloque2").hide();
				$("#img2").hide();
				$("#bloque3").hide();
				$("#img3").hide();
				$("#bloque1").show();
				$("#img1").show();

			} else if ($(this).hasClass("30")) {
				$("#bloque3").hide();
				$("#img3").hide();
				$("#bloque1").hide();
				$("#img1").hide();
				$("#bloque2").show();
				$("#img2").show();

			} else if ($(this).hasClass("40")) {
				$("#bloque2").hide();
				$("#img2").hide();
				$("#bloque1").hide();
				$("#img1").hide();
				$("#bloque3").show();
				$("#img3").show();


			}

		})
		$(document).ready(function() {
			if (window.location.hash == "#prefab") {
				$('html, body').animate({
					scrollTop: $("#prefab").offset().top
				}, 1000);
			} else if (window.location.hash == "#create") {
				$('html, body').animate({
					scrollTop: $("#create").offset().top
				}, 1000);
			}
		});

	</script>

	{% endblock javascript %}
